{% extends "base.html" %}
{% block page_content %}
{% load static %}

<div class="row ml-3"">
    <div class="col" >
    <h1>Your personal QR-Code</h1>
    </div>
</div>

{{ qr_code.show_qr_code|json_script:"qr_code_data" }}

<div class="row ml-3"">
    <div class="col" >
        <a class="btn" style="background-color:#f95918; color:white" download="QR-CODE" id="download" href="">Download your QR-Code</a>
    </div>
</div>


<div class="row d-flex align-content-center ml-3">
    <div id="picture_holder">
    </div>
</div>
<script src="{% static 'js/show_qrcode_image.js'%}"></script>

</div>
{% endblock %}