{%load static%}
<!doctype html>

<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Restaurant Rescue</title>
  <meta name="description" content="Restaurant Rescue">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" sizes="96x96" href="https://cdn.discordapp.com/attachments/755321714858262589/783314524311912468/favicon-96x96.png">
  </head>

<body>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/"><img src="https://media.discordapp.net/attachments/755321714858262589/783296595746619432/logoq-removebg-preview.png" width="100" height="100"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/#how-it-works">How it works <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.restaurantrescue.de/#enter-data">Generate QR-Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/scanner">Scanner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gesundheitsamt">Gesundheitsamt</a>
        </li>
      </ul>
    </div>
  </nav>


  {% block page_content %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <footer>
  </footer>
</body>

</html>