{% extends "base.html" %}
{% block page_content %}
{% load static %}



<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Restaurant</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Zip-Code</th>
        <th scope="col">Time of Arrival</th>
      </tr>
    </thead>
    <tbody>
      {% if customers %}
      <tr>

      {% for customer in customers %}
      <td>{{customer.restaurant}}</td>
      <td>{{customer.first_name}}</td>
      <td>{{customer.last_name}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.zip_code}}</td>
      <td>{{customer.time_of_arrival}}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% else %}
    <p>No Customers are available.</p>
    {% endif %}
  </table>
</div>
{% endblock %}