{% extends "base.html" %}
{% block page_content %}
{% load static %}
<style>
  .info-font{
    font-family: 'Indie Flower', cursive;
  }

  .entry{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 4.5rem;
  }
</style>


  <div class="row text-center">
    <div class="col">
      <h1 class="entry">Restaurant Rescue</h1>
      <p class="lead">
        Privacy-firendly, fast and convinient contact tracing     
      </p>
    </div>
  </div>

  <div class="row" id="how-it-works">
    <div class="col-sm-6 d-flex align-items-center justify-content-center text-center flex-column">
      <p class="h4">Step 1</p>
      <p class="lead info-font pl-lg-3"> Enter your personal data and generate your own QR-Code. <br> The data is being encrypted and will never leave your device, so your can be sure that noone will be able to abuse your personal information</p>
    </div>
    <div class="col-sm-6">
      <img src="{% static 'images/undraw_contract_uy56.png' %}" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="{% static 'images/undraw_File_searching_re_3evy.png' %}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-center text-center flex-column">
      <p class="h4">Step 2</p>
      <p class="lead info-font"> Scan your QR-Code <br> When visiting a restaurant of your choice the waiter will scan your QR-Code and you are all set! <br> No more paper to fill out  </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 d-flex align-items-center justify-content-center text-center flex-column">
      <p class="h4">Step 3</p>
      <p class="lead info-font pl-lg-3"> Trace Infections <br> In case of an infection the restaurant owner will submit the <b>encrypted</b> data to the Gesundheitsamt   </p>
    
    </div>
    <div class="col-sm-6">
      <img src="{% static 'images/undraw_medical_care_movn.png' %}" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <hr>

  <form method="post" id="enter-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <!--Name-->
        <label for="inputFirstname">First Name</label>
        {{form.first_name}}
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastname">Last Name</label>
        {{form.last_name}}
      </div>
      <!--Email-->
      <div class="form-group col-md-12">
        <label for="inputEmail4">E-Mail</label>
        {{form.email}}
      </div>
    </div>
    <!--Adresse-->
    <div class="form-group">
      <label for="inputAddress">Address</label>
      {{form.address}}
    </div>
    <!--Stadt & PLZ -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        {{form.city}}
      </div>

      <div class="form-group col-md-6">
        <label for="inputZip">Zip-Code</label>
        {{form.zip_code}}
      </div>
    </div>

    <button type="submit" class="btn mb-5" style="background-color:#f95918; color:white">Generate QR-Code</button>
  </form>
</div>


{% endblock %}