{% extends "base.html" %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/qrCodeScanner.css'%}">

<script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>


  <div class="row d-flex justify-content-center">
    <h1>Press the Button below to start scanning</h1>
  </div>

  <div class="row d-flex justify-content-center ">
    <a id="btn-scan-qr">
      <img src="https://uploads.sitepoint.com/wp-content/uploads/2017/07/1499401426qr_icon.svg">
    </a>

  </div>
  <div class="row d-flex align-content-center flex-column">
  <canvas hidden="" id="qr-canvas"></canvas>

  <form method="post" id="codeForm">
    {% csrf_token %}
    <div class=" form-group col-md-6 d-none" id="hideField">
      <label class="" for="restaurantName">Restaurant Name</label>
      {{form.restaurant_name}}
    </div>

    <div class="d-none"">
      <div class=" form-group col-md-6">
      <label for="encryptedCode"></label>
      {{form.encrypted_code}}
    </div>


    <div class="form-group col-md-6">
      <label for="timeOfArrival"></label>
      {{form.time_of_arrival}}
    </div>

    <button type="submit" class="btn btn-primary">Generate QR</button>
  </div>
</div>

</form>
</div>
<script>
  document.getElementById('btn-scan-qr').addEventListener('click', () => { document.getElementById('hideField').classList.remove('d-none'); });
</script>
<script src="{% static 'js/qrCodeScanner.js'%}"></script>

{% endblock %}