{% extends "base.html" %}
{% block page_content %}
{% load static %}

  <div class="row text-center w-100 ml-3">
    <H1 class="">Data was successfully stored!</H1>
  </div>
  <div class="row ml-3 mt-2">
    <div class="col-6"><a class="btn btn-primary" href="/">Return to the Homepage</a></div>
    <div class="col-6"><a class="btn btn-primary" href="/scanner">Scan another customer</a></div>
  </div>
</div>
</div>
{% endblock %}